.item-product{
    a{
        text-decoration: none
    };
    .total__item__product{
        text-align: center;
        &:hover{
            transform: translateY(-5px);
            transition: all .5s;
        }
    }
    .name__product{
        overflow:hidden!important;
        text-overflow:ellipsis;
        display:-webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:1
    }
    .img__product{
        img{
            width: 100%;
        }
    }
    .des__product{


    }
    .size__product{

    }
    .price__product{

    }
   
}