.header{
    background-color: rgb(241, 144, 144);
    color: white;
    font-weight: 500;
    .menu{
        .menu__item{
            display: flex;
            align-items: center;
            .item{
                width: 25%;
                text-align: center;
                cursor: pointer;
            }
        }
        .logo{
            width: 90px;
        }
    }
    .linkto{
        a{
            text-decoration: none;
            color: white;
            font-weight: bold;
        }
    }
}